.btn-purple {
  background-color: #4e2e8a !important;
  color: white !important;
}
.outlined-purple {
  border: 1px solid #4e2e8a !important;
}

.text-purple {
  color: #4e2e8a !important;
  text-decoration: none;
}

.d-purple {
  color: #4e2e8a !important;
}
.d-bg-purple {
  background-color: #4e2e8a !important;
}

.label {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;

  color: #4e2e8a;
}
